{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {
        "no-var": "warn",
        "no-multiple-empty-lines": "warn", 
        "no-unused-vars": "warn", 
        "react/jsx-key": "warn", 
        "react/self-closing-comp": "warn", 
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ]
    }
}